html,
body {
  padding: 0;
  margin: 0;
}

.bar {
  fill: green;
}

.axis {
	font: 15px sans-serif;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}
