/* html,
body {
  padding: 0;
  margin: 0;
}

.bar {
  fill: red;
}

.axis {
  font: 15px sans-serif;
}

.axiswhite line{
  stroke: white;
}

.axiswhite path{
  stroke: white;
}

.axiswhite text{
  fill: white;
}  

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: #FFFFFF; 
  /* none repeat scroll 0 0
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
} */ */
body {
  margin: 15px;
  background-color: #F1F3F3    
}
.bar {
	fill: green;
}
.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.x path {
	display: none;
}
.toolTip {
	position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}